<div class="site-wrapper overflow-hidden position-relative">
    <!-- Site Header -->
    <!-- Preloader -->
    <!-- <div id="loading">
    <div class="preloader">
     <img src="./image/preloader.gif" alt="preloader">
   </div>
   </div>    -->
    <!--Site Header Area -->
    <header style="color:#222831;"
      class="site-header site-header--menu-left sticky-menu-bg dark-mode-texts site-header--absolute site-header--sticky">
      <div class="container">
        <nav class="pt-3 pt-lg-0 d-flex justify-content-between align-items-center">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <a href="index.html">
              <!-- light version logo (logo must be black)-->
              <img src="img/logo.png" alt="" class="light-version-logo">
              <!-- Dark version logo (logo must be White)-->
              <img src="img/logo.png" alt="" class="dark-version-logo col-8 col-md-12">
            </a>
          </div>
          <div class="d-flex justify-content-center align-items-center">
            <div class="menu-block-wrapper">
              <div class="menu-overlay"></div>
              <nav class="menu-block" id="append-menu-header">
                <div class="mobile-menu-head">
                  <div class="go-back">
                    <i class="fa fa-angle-left"></i>
                  </div>
                  <div class="current-menu-title"></div>
                  <div class="mobile-menu-close">&times;</div>
                </div>
                <ul class="site-menu-main">
                  <li class="nav-item">
                    <a href="index.html" class="nav-link-item drop-trigger">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a href="nosotros.html" class="nav-link-item drop-trigger">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a href="servicios.html" class="nav-link-item drop-trigger">Servicios</a>
                  </li>
                  <li class="nav-item">
                    <a href="galeria.html" class="nav-link-item drop-trigger">Galería</a>
                  </li>
                  <li class="d-lg-none d-sm-block d-md-block">
                    <a style="color: black" href="contacto.html" class="nav-link-item drop-trigger">Contacto</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="d-none d-lg-block header-btn l4-header-btn">
              <a class="btn btn btn-style-04 focus-reset mx-4" href="contacto.html">
                Contáctanos
              </a>
            </div>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </header>
    <!-- navbar- -->
    <!-- Hero Area -->
    <div class="hero-area-l4 background-property"
      style="background-size:cover; background-position: center; background-repeat: no-repeat; background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/banner.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 col-lg-11 col-md-12" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="banner-content">
              <div class="content">
                <h2>BIENVENIDO A <br /> SERMAQ</h2>
                <div class="hero-l4-btn">
                  <a href="contacto.html" class="btn btn-style-04 focus-reset">Solicita una cotización</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Counter Area -->
    <div class="counter-area-l4">
      <div class="container">
        <div class="d-flex w-full justify-content-center flex-column align-items-center pb-5">
          <h1 class="text-center">Maniobras de Precisión / Machinery Movers </h1>
          <p class="text-center">Maniobras, Montacargas, Gruas / Rigging, Forklifts, Cranes </p>
        </div>
        <div class="row counter-area-l4-items text-center text-lg-start align-items-end pt-5">
          <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-start" data-aos="fade-up" data-aos-delay="300"
            data-aos-duration="1000">
            <div class="counter-wrapper">
              <div class="count-number">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 4rem;  margin: 0 0 1.5rem 0;" viewBox="0 0 24 24"
                  fill="none" stroke="#14A850" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-flag">
                  <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                  <line x1="4" y1="22" x2="4" y2="15"></line>
                </svg>
              </div>
              <div class="count-content">
                
                <p>Contamos con 38 años de experiencia sirviendo a las diferentes industrias en México y USA.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-start" data-aos="fade-up" data-aos-delay="600"
            data-aos-duration="1000">
            <div class="counter-wrapper">
              <div class="count-number">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 4rem;  margin: 0 0 1.5rem 0;"" viewBox=" 0 0 24
                  24" fill="none" stroke="#14A850" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-settings">
                  <circle cx="12" cy="12" r="3"></circle>
                  <path
                    d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                  </path>
                </svg>
              </div>
              <div class="count-content">
                <p>Tenemos la capacidad de montaje y desmontaje de maquinaria industrial pesada.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-start" data-aos="fade-up" data-aos-delay="500"
            data-aos-duration="1000">
            <div class="counter-wrapper">
              <div class="count-number">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 4rem;  margin: 0 0 1.5rem 0;" viewBox="0 0 24 24"
                  fill="none" stroke="#14A850" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-truck">
                  <rect x="1" y="3" width="15" height="13"></rect>
                  <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                  <circle cx="5.5" cy="18.5" r="2.5"></circle>
                  <circle cx="18.5" cy="18.5" r="2.5"></circle>
                </svg>
              </div>
              <div class="count-content">
                <p>Transportación de puerta a puerta USA - MEX, con los más altos estándares de calidad y logística.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-start" data-aos="fade-up" data-aos-delay="600"
            data-aos-duration="1000">
            <div class="counter-wrapper">
              <div class="count-number">
                <svg xmlns="http://www.w3.org/2000/svg" style="width: 4rem;  margin: 0 0 1.5rem 0;" viewBox="0 0 24 24"
                  fill="none" stroke="#14A850" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-clipboard">
                  <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path>
                  <rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect>
                </svg>
              </div>
              <div class="count-content">
                <p>Nuestro servicio es integral, ofrecemos Pre-planeación y análisis de proyectos. <span
                    class="d-none d-lg-block" style="opacity: 0;">Nuestro servicio es integral</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area-1  -->
    <div class="content-area-l4-1">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-5 col-md-5" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000">
            <div class="content-l4-image-1 image-hover-style-01 overflow-hidden" style="border-radius: 0;">
              <img class="w-100" src="img/sermaq-landing.jpg" alt="image">
            </div>
          </div>
          <div class="col-lg-7 col-md-7" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="content-l4-content-1">
              <div class="section__heading-2">
                <h2 class="fs-2">Somos una empresa dedicada al movimiento e instalación de maquinaria industrial,
                  fundada en el año de 1984, en la ciudad de Tijuana, Baja California</h2>
                <p>Desde nuestra fundación estamos sirviendo a la industria maquiladora y la industria en general en la
                  solución de sus necesidades de movimiento de maquinaria en México y EEUU.
                  En el año 2000 inaguramos la segunda oficina en la ciudad de Mexicali para cubrir la zona Noreste y en
                  el año 2016 inaguramos la tercera oficina para atender la zona del Bajío
                  para cubrir la demanda de nuestros clientes en cualquier zona del país. Contamos con oficina de ventas
                  en San Diego, Ca.
                </p>
                <div class="con-1-l4-learn-btn">
                  <!--<a href="#" class="btn btn-style-04 focus-reset">Leer más</a>-->
                </div>
              </div>
            </div>
          </div>
          <!--<div class="col-lg-3 col-md-8" data-aos="fade-left" data-aos-delay="700" data-aos-duration="1000">
            <div class="content-l4-image-2 image-hover-style-01 overflow-hidden">
              <img class="w-100" src="image/landing-4/con-1-img2.png" alt="image">
            </div>
          </div>-->
        </div>
      </div>
    </div>
    <!-- Services Area -->
    <div class="service-area-l4-1">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-8 col-lg-8" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="service-l4-head-content section__heading-2">
              <h2>Contamos con la experiencia, profesionalismo y personal capacitado para resolver sus necesidades de
                maniobras.</h2>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 row align-items-center" data-aos="fade-up" data-aos-delay="500"
            data-aos-duration="1000">
            <img src="img/sermaq.png" class='col-lg-12 col-md-8 mx-auto' alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="cta-area-l6 service-area-l4-1 ">
      <div class="container">
        <div class="row">
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
            <div class="cta-area-l6-bg background-property" style="background-color:#14a850;">
              <div class="row justify-content-center align-items-center">
                <div class="cta-area-l6-content text-center px-5 mx-auto">
                  <h2 style="color:white;">Nuestros servicios</h2>
                  <div class="d-flex flex-column flex-lg-row justify-content-between">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-5 mb-lg-0">
                      <h3 class="text-start" style="color:white; font-weight: 600;">Transporte especializado nacional
                        <br /> e
                        internacional (Puerta a Puerta<br /> USA -MEX. & viceversa).
                      </h3>
                      <div class="my-3 col-sm-12 col-md-12 col-lg-6"
                        style="background-color: white; height: 0.3rem; border-radius: 3px"></div>
                      <ul style="list-style-type:circle" class=" text-start text-white">
                        <li>Embalajes sencillos y especiales.</li>
                        <li>Nivelación de precisión.</li>
                        <li>Servicios mecánicos y eléctricos.</li>
                        <li>Servicios Millwright.</li>
                      </ul>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                      <h3 class="text-start" style="color:white; font-weight: 600;">Renta de equipo especializado de
                        <br />
                        maniobras: Montacargas, Versa-lift,<br /> Gantry, Gruas y más.
                      </h3>
                      <div class="my-3 w-50" style="background-color: white; height: 0.3rem; border-radius: 3px"></div>
                      <ul style="list-style-type:circle" class="text-start text-white">
                        <li>Servicio de Almacenaje.</li>
                        <li>Montajes y desmontajes de maquinaria.</li>
                        <li>Cargas y descargas de maquinaria.</li>
                        <li>Reubicaciones internas de equipos.</li>
                        <li>Transferencias de líneas o planta completa (llave en mano).</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial Area -->
    <div class="tastimonial-area-l4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-8 col-xl-9 col-lg-10" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="testimonial-l4-content d-flex">
              <div class="quote-icon">
                <img src="img/comillas.png" alt="image">
              </div>
              <div class="content-box">
                <h3>Gracias al equipo de SERMAQ, los recomendamos ampliamente. El servicio que nos brindaron fue muy
                  rápido y seguro.</h3>
                <div class="user-identity d-flex">
                  <div class="user-image">
                    <img src="image/landing-4/testimonial-user.png" alt="image">
                  </div>
                  <div class="user-role">
                    <h6>Arlene Ruiz</h6>
                    <span>Mexicali, BC.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content Area 2-->
    <div class="content-area-l4-12">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10" data-aos="fade-right" data-aos-delay="500" data-aos-duration="1000">
            <div class="contant-area-2-l4-content bg-mirage section__heading" style="padding: 4rem!important;">
              <h2 style="line-height: 2rem;">Somos una Empresa de Nivel Internacional con la Mejor Tecnología</h2>
              <p style="font-size: 1rem;">Sermaq nació con un servicio innovativo en equipo y servicio, creciendo y
                ofreciendo un paquete integral
                de productos
                para cumplir con las necesidades globales de la industria. Se inició con servicios de movimientos de
                maquinaria, transporte
                y gradualmente se agregaron otros servicios como: Embalaje, Empaque, Renta de Montacargas, Servicios
                electromecánicos, Logística de proyectos,
                Transferencia de plantas, Almacenaje y otros servicios para cubrir cualquier necesidad requerida en un
                solo proveedor. Nuestro servicio es integral
                , ofrecemos pre-planeación y análisis de proyectos.</p>
              <div class="l4-learn-btn">
                <a href="#" class="btn btn-style-04 focus-reset">Llámanos</a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10" data-aos="fade-left" data-aos-delay="700" data-aos-duration="1000">
            <div class="contant-area-2-l4-content-image">
              <img class="w-100" src="img/montacargas2.png" alt="image">
            </div>
          </div>
        </div>
        <div class="row cta-l4-items justify-content-center align-items-center text-center text-lg-start">
          <div class="col-lg-3 col-md-10" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
            <div class="cta-l4-heading section__heading">
              <h2>Solicita una cotización</h2>
            </div>
          </div>
          <div class="col-lg-5 col-md-10" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <div class="cta-l4-content section__heading">
              <p>Lo asesoramos desde el inicio de su proyecto con el objetivo de orientarlo en la planeación
                del proyecto para un mejor resultado.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-10" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000">
            <div class="cta-l4-btn text-lg-end">
              <a href="#" class="btn btn-style-04 focus-reset">Contáctanos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer Area -->
    <footer style="background-color:#1D263A!important;" class="footer-area-l4 position-relative">
      <div class="container">
        <div class="row justify-content-center footer-l4-area-items">
          <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-6">
            <div class="footer-l4-block">
              <h3>VISÍTANOS</h3>
              <p>Carretera Tijuana Mexicali <br />Km 16.4-092.20 S/N Int A-3 <br />Florido 1ra seccion, Tijuana B.C.
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-6">
            <div class="footer-l4-block">
              <h3>CONTACTO</h3>
              <p>info@sermaq.com.mx<br> (664) 901 30 64<br />(664) 299 08 11</p>
            </div>
          </div>
          <div class="offset-xxl-1 col-xxl-5 col-xl-5 col-lg-10">
            <h3>ENVÍANOS UN MENSAJE</h3>
            <div class="contact-form-l4">
              <form type="post" method="POST" action="plugins/mailer.php">
                <div class="d-sm-flex  name-email-area justify-content-between">
                  <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Correo">
                  </div>
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" placeholder="Mensaje"></textarea>
                </div>
                <div class="send-btn">
                  <button class="btn btn-style-04 focus-reset">ENVIAR</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row justify-content-center copyright-area-l4">
          <div class="col-xl-12 col-lg-10">
            <p>© 2022 Cilabs All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Vendor Scripts -->
  <script src="js/vendor.min.js"></script>
  <!-- Plugin's Scripts -->
  <script src="./plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="./plugins/nice-select/jquery.nice-select.min.js"></script>
  <script src="./plugins/aos/aos.min.js"></script>
  <script src="./plugins/slick/slick.min.js"></script>
  <script src="https://porjoton.netlify.app/mekanic/js/waypoints.min.js"></script>
  <script src="./plugins/counter-up/jquery.counterup.min.js"></script>
  <script src="./plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="./plugins/isotope/packery.pkgd.min.js"></script>
  <script src="./plugins/isotope/image.loaded.js"></script>
  <script src="./plugins/menu/menu.js"></script>
  <!-- Activation Script -->
  <script src="js/custom.js"></script>